@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --bg-dark-clr: #0c0c0d;
  --clr-accent: rgb(109, 40, 217);
  --clr-accent-darker: rgb(86, 31, 175);
  --clr-accent-lighter: rgb(125, 71, 211);
}

html {
  font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: var(--bg-dark-clr);
  overflow-x: hidden;
}

.index main{
  background: rgb(28,1,41);
  background: -moz-linear-gradient(45deg, rgba(28,1,41,1) 0%, rgba(75,20,99,1) 59%, rgba(28,1,41,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(28,1,41,1) 0%, rgba(75,20,99,1) 59%, rgba(28,1,41,1) 100%);
  background: linear-gradient(45deg, rgba(28,1,41,1) 0%, rgba(75,20,99,1) 59%, rgba(28,1,41,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c0129",endColorstr="#1c0129",GradientType=1);
}

.section-title {
  position: relative;
}

.section-title::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 10%;
  width: 80%;
  height: 3px;
  background-color: var(--clr-accent);
  opacity: 0.5;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

section:hover .section-title::before {
  opacity: 0.75;
}

img, svg {
  display: inline-block !important;
}